.container{
    width: 940px;
    margin: 0px auto;
    text-align: center;
}
.pageContent{
    margin-bottom: 110px;
}
body{
    padding: 0;
    margin:0;
}

nav{
    float: left;
    margin-top: 11px;
    margin-left: 50px;
}

.container h2{
    text-align: center;
    font-size: 36px;
    color: #444444;
    margin-bottom: 70px;
    margin-top: 0px;
}
.logo{
    background-color: #ff8000;
    height:35px;
    width: 140px;
    margin: 0px;
    float: left;
}
.logo a{
    display: block;
    width: 140px;
    height: 35px;
}
header{
    background-color: #333;
}
.headerMenu{
    background-color: #333;
    margin-top: 0px;
    margin-bottom: 0px;
}

header .container{
    padding: 7px 0 8px 0;
}
.headerMenu li {
	float: left;
    list-style-type: none;
    margin-left: 50px;
    font-size: 18px;
}

.headerMenu li:first-child{
    margin-left: 0px;
}

.headerMenu li a {
    display: block;
    color: #aaaaaa;
    text-align: center;
    text-decoration: none;
}

.footerMenu{
   
    margin: 0px;
    padding-left: 0px;
    background-color: #ececec;
    padding-top: 17px;
    padding-bottom: 6px;
    display: inline-block;
}


.footerMenu a {
    display: inline-block;
    color: #ff8000;
    text-decoration: none;
}
.footerMenu li{
    margin-left: 20px;
    font-size: 16px;
    float: left;
}
.footerMenu li:first-child{
    margin-left: 0px;
}
.footerMenu li a:hover{
    color: #444444;
}
.banner{
    height: 485px;
    background-color: #71c4ea;
    margin-bottom: 64px;
}

.howItWorksList{
    padding: 0px;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 0px;
}
.howItWorksList li:first-child{
    margin-left: 0px;
}
.howItWorksList li{
    float: left;
    list-style-type: none;
    text-align: center;
    margin-left: 75px;
    width: 140px;
    color: #888888;
    font-size: 18px;
}

.howItWorksList li:hover{
    color: #444444;
    cursor: pointer;
}
.howItWorksStep{
    border-radius: 50%;
    background-color: #efefef;
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

footer{
    background-color: #ececec;
    text-align: center;
    
}
footer ul li{
    display: inline;
    list-style: none;
}

.clear {
    float: none;
    clear: both;
    margin: 0px;
    padding:0px;
}