.container{
    width: 940px;
    margin: 0px auto;
}
.pageContent{
    margin-bottom: 110px;
}
body{
    padding: 0;
    margin:0;
}

nav{
    float: left;
}

.container h2{
    text-align: center;
    font-size: 36px;
    color: #444444;
    margin-bottom: 70px;
    margin-top: 0px;
}
.logo{
    background-color: #ff8000;
    height:35px;
    width: 140px;
    margin: 0px;
    margin-top: 8px; 
    float: left;
}
.logo a{
    display: block;
    width: 140px;
    height: 35px;
}
header{
    background-color: #333;
}
.headerMenu{
    background-color: #333;
    
}

.headerMenu li {
	float: left;
    list-style-type: none;
    padding-left: 50px;
}

.headerMenu li a {
    display: block;
    color: #aaaaaa;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.footerMenu{
   
    margin: 0px;
    padding-left: 0px;
    background-color: #ececec;
    height: 50px;
}


.footerMenu a {
    display: inline-block;
    color: #ff8000;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto;
    margin-top: 15px;
}
.footerMenu li{
    margin-left: 20px;
}
.footerMenu li a:hover{
    color: #444444;
}
.banner{
    height: 485px;
    background-color: #71c4ea;
    margin-bottom: 64px;
}

.howItWorksList{
    padding: 0px;
    margin-top: 0px;
}
.howItWorksList li{
    float: left;
    list-style-type: none;
    text-align: center;
    margin-left: 75px;
    width: 140px;
    color: #888888;
}

.howItWorksList li:hover{
    color: #444444;
    cursor: pointer;
}
.image{
    border-radius: 50%;
    background-color: #efefef;
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.clear{
    clear: both;
}

.howItWorksList .clearUl{
    float: none;
    clear: both;
    margin: 0px;
    padding:0px;
}
footer{
    background-color: #ececec;
    text-align: center;
    
}
footer ul li{
    display: inline;
    list-style: none;
}

.headerMenu li.clearLi {
    float: none;
    clear: both;
}